.footer-separator {
    border-top: 1px solid #ffffff;
    padding: 30px;
}
  
.footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: #80bb65;
    color: #333;
}
  
.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4caf50;
}
  
.social-links a:hover {
    color: #333;
}