.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f4f8;
    padding-bottom: 10vh;
}

.body{
  background-color: #f0f4f8;
}
  
.login-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
  
.login-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #4caf50;
}
  
.login-form .form-group {
    margin-bottom: 1rem;
}
  
.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}
  
.login-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.show-password {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.show-password input[type="checkbox"] {
    margin-right: 5px;
}

.show-password label {
    font-size: 1rem;
    color: #333;
    margin: 0;
}
  
.login-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.login-button:hover {
    background-color: #45a049;
}

.register-link {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
    color: #4caf50;
    border: 1px solid #4caf50;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.register-link:hover {
    background-color: #f0f0f0;
}
