.profile-page {
  padding: 20px;
  padding-left: 40px;
  text-align: center;
}

.profile-info p {
  font-size: 18px;
  margin: 10px 0;
}

.profile-info strong {
  font-weight: bold;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-item {
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.recipe-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.recipe-content {
  flex-grow: 1;
  text-align: left;
}

.recipe-content h4 {
  margin: 0 0 10px 0;
}

.recipe-content p {
  margin: 0;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.edit-form label {
  margin: 10px 0 5px;
  font-size: 18px;
}

.edit-form input,
.textarea-dietary-goals {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; 
}

.textarea-dietary-goals {
  resize: none; 
}

.button-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.edit-form button,
.profile-info button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.edit-form button.save {
  background-color: #28a745;
}

.edit-form button.cancel {
  background-color: #dc3545;
}

.profile-info button.edit {
  background-color: #28a745;
}

h3 {
  font-size: 24px;
  margin: 40px 0 20px;
}

.recipe-list p {
  font-size: 18px;
}


.picture-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.picture-option {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s;
}

.picture-option.selected {
  border-color: #28a745;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-actions .save {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-actions .close{
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-actions button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.edit-form button.delete {
  background-color: #dc3545;
  margin-top: 50px;
}

.edit-form button.delete:hover {
  background-color: #c82333;
}
