.recipe-details {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  max-width: 1000px; 
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative; 
}

.profile-picture {
  width: 35px; 
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.recipe-img {
  width: 400px; 
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.recipe-details .recipe-info {
  flex: 1;
}

.recipe-details h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 10px;
  color: #4caf50;
}

.recipe-details h3 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 10px;
}

.recipe-details p {
  line-height: 1.6;
  color: #333;
}

.recipe-details ul {
  list-style-type: disc;
  padding-left: 20px;
}

.recipe-details li {
  margin-bottom: 10px;
  color: #333;
}

.products-txt {
  margin-left: 10px;
}

.instructions-txt {
  margin-left: 10px;
}

.menu {
  position: absolute;
  top: 20px; 
  right: 20px;
  cursor: pointer;
  font-size: 22px; 
  z-index: 1000; /* Ensure the menu is on top */
}

.menu-options {
  position: absolute;
  top: 40px;  
  right: 0; 
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000; 
}

.menu-options div {
  padding: 8px 16px; 
  cursor: pointer;
  font-size: 18px; 
}

.menu-options div:hover {
  background-color: #f0f0f0;
}

.burger-icon {
  width: 26px; 
  height: 22px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 40px;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 3px; 
  background-color: #333;
  transition: all 0.3s ease; 
}

.burger-icon span:last-child {
  margin-bottom: 0;
}

.author {
  margin-left: 10px;
  margin-top: 20px;
  color: #4caf50;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.author .username:hover {
  text-decoration: underline;
}

.comments-section {
  margin-top: 20px;
  margin-left: 10px;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: left; 
  flex-direction: column;
}

.comment p {
  margin: 0;
  font-weight: bold; 
}

.comment small {
  display: block;
  margin-top: 5px;
  color: #777;
}

.add-comment {
  margin-top: 15px;
}

.add-comment textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-comment button {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-comment button:hover {
  background-color: #218838;
}

.comment button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comment button:hover {
  background-color: #218838;
}

.comment button:nth-child(2) {
  background-color: #dc3545;
}

.comment button:nth-child(2):hover {
  background-color: #c82333;
}

.comments-buttons-change {
  display: flex;
  justify-content: flex-end;
}

.comments-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.clickable-username {
  cursor: pointer;
  color: #000000; 
}

.clickable-username:hover {
  text-decoration: underline;
}