.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    background-color: #f0f4f8;

}
  
.register-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
  
.register-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #4caf50;
}
  
.register-form .form-group {
    margin-bottom: 1rem;
}
  
.register-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}
  
.register-form input,
.register-form select {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.show-password {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.show-password input[type="checkbox"] {
    margin-right: 5px;
    width: 20px;
}

.show-password label {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.register-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.register-button:hover {
    background-color: #45a049;
}

.login-link-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    color: #4caf50;
    border: 1px solid #4caf50;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}
  
.login-link-button:hover {
    background-color: #4caf50;
    color: white;
}
